<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Stock Details</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="vendors/feather/feather.css">
  <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="vendors/typicons/typicons.css">
  <link rel="stylesheet" href="vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
  <link rel="stylesheet" href="css/progress/progress-bar.css">
</head>
<style>
  .news-div:hover{
    color: darkblue;
    background-color: aliceblue;
  }
  #news-table{
    min-height: 100px;
  }
  .line-chart-container{
    min-height: 100px;
  }
  #progress-line-chart{
    position: absolute; 
    margin-top: 5%; margin-left: 40%;
  }
  #progress-bar-chart{
    position: absolute;
    margin-top: 5%;
    margin-left: 40%;
  }
  #progress-news{
    margin-top: 5%;
    margin-left: 42%;
  }
  #progress-recommendation{
    margin-left: 50%;
  }
  .additional-info *{
    padding: 3px;
  }
  #company-info-container th{
    padding: 2px;
  }
</style>
<body>
  <div class="container-scroller">
    
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">      
      <div class="navbar-menu-wrapper d-flex align-items-top"> 
        <ul class="navbar-nav" style="padding-top: 1cm;">
          <li class="nav-item font-weight-semibold d-none d-lg-block ms-0" >
            <h1 class="welcome-text">Stock Name : <span class="text-black fw-bold" id = "stock-name"></span></h1>
            
          </li>

          <li class="nav-item font-weight-semibold d-none d-lg-block ms-0" style="padding-left:22cm ;">
            <h4>Stock Price</h4>
            <h2 class="welcome-text"><span class="text-black fw-bold" id = "stock-price"></span></h2>
            <h3 class="welcome-sub-text text-danger" id = "stock-percentage"></h3>
          </li>
        </ul>

        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel" style="width: 100%;">
        <div class="content-wrapper" style="padding-left: 30px;">
          
          <div class="row" >
            <div class="card col-4" style="max-width: 20%;padding: 0px;margin-left: 0px;">
              
              <div class="container-fluid" id="company-info-container" style="padding:5px;font: size 2em;">
                <div >
                <table class="table-bordered" >
                  <tbody>
                  <tr>
                    <th>sector</th>
                    <th id="company-sector"></th>                    
                  </tr>
                  <tr>
                    <th>total debt</th>
                    <th id="total-debt"></th>                    
                  </tr>
                  <tr>
                    <th>total revenue</th>
                    <th id="total-revenue"></th>
                  </tr>
                  <tr>
                    <th>earning growth</th>
                    <th id="earning-growth"></th>
                  </tr>
                  <tr>
                    <th>revenue growth</th>
                    <th id="revenue-growth"></th>
                  </tr>
                  <tr>
                    <th>debt to equity</th>
                    <th id="debt-to-equity"></th>
                  </tr>
                  <tr>
                    <th>return on equity</th>
                    <th id="return-on-equity"></th>
                  </tr>
                  <tr>
                    <th>revenue per share</th>
                    <th id="revenue-per-share"></th>
                  </tr>
                  </tbody>
                </table>
                </div>
                <h4 class="text-center p-2">About</h4>
                <p id="company-info" ></p>
              </div>
            </div>
            <div class="col-10" style="max-width: 80%; min-width: 60%;">
                <div class="tab-content tab-content-basic">
                  <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
                    <div class="row">
                      
                      <div class="col-sm-12">
                        <h3>Price Summary</h3>
                        <div class="statistics-details d-flex align-items-center justify-content-between">
                          <div>
                            <p class="statistics-title">Today's High</p>
                            <h3 class="rate-percentage" id="today-high">32.53%</h3>
                            <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>-0.5%</span></p>
                          </div>
                          <div>
                            <p class="statistics-title">Today's Low</p>
                            <h3 class="rate-percentage" id="today-low">7,682</h3>
                            <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span>+0.1%</span></p>
                          </div>
                          <div>
                            <p class="statistics-title">52 Week High</p>
                            <h3 class="rate-percentage" id="52week-high">68.8</h3>
                            <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p>
                          </div>
                          <div class="d-none d-md-block">
                            <p class="statistics-title">52 Week Low</p>
                            <h3 class="rate-percentage" id="52week-low">2m:35s</h3>
                            <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.8%</span></p>
                          </div>
                        </div>
                      </div>
                    </div> 
                    <div class="row">
                      <div class="col-lg-8 d-flex flex-column">
                        <div class="row flex-grow">
                          <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body" id='line-chart-container'>
                                <div class="d-sm-flex justify-content-between align-items-start">
                                  <div>
                                   <h4 class="card-title card-title-dash">Open-Close Chart</h4>
                                   <h5 class="card-subtitle card-subtitle-dash">Lorem Ipsum is simply dummy text of the printing</h5>
                                  </div>
                                  <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle toggle-dark btn-lg mb-0 me-0" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Timeline </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                      <a class="dropdown-item" onclick="changeChartData('1mo','1y')" href="#">1mo - 1y</a>
                                      <a class="dropdown-item" onclick="changeChartData('1wk','3mo')" href="#">1wk - 3mo</a>
                                      <a class="dropdown-item" onclick="changeChartData('1wk','6mo')" href="#">1wk - 6mo</a>
                                      <a class="dropdown-item" onclick="changeChartData('1d','5d')" href="#">1d - 5d</a>
                                    </div>
                                  </div>
                                  <div id="performance-line-legend2"></div>
                                </div>
                              
                                <progress class="pure-material-progress-circular" id='progress-line-chart'></progress>
                                <div class="chartjs-wrapper mt-5">
                                  
                                  <canvas id="performaneLine2" ></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 d-flex flex-column">
                        <div class="row flex-grow">
                          <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-sm-6 additional-info">
                                    <h5 style="padding-bottom: 5px;">Additional Information</h5>
                                    <h5 style="opacity: 0.5;">Market Cap</h5>
                                    <h6 id="market-cap"></h6>
                                    <h5 style="opacity: 0.5;">Ask Price</h5>
                                    <h6 id="ask-price"></h6>
                                    <h5 style="opacity: 0.5;">Market Open</h5>
                                    <h6 id="market-open"></h6>
                                    <h5 style="opacity: 0.5;">Fifty Day Range</h5>
                                    <h6 id="fifty-day-range"></h6>
                                    <h5 style="opacity: 0.5;">p/e ratio</h5>
                                    <h6 id="pe-ratio"></h6>
                                  </div>
                                  <div class="col-sm-6 additional-info">
                                    <h5 style="padding-bottom: 20px;"></h5>
                                    
                                    <h5 style="opacity: 0.5;">No of Share</h5>
                                    <h6 id="no-of-share"></h6>
                                    <h5 style="opacity: 0.5;">Bid Price</h5>
                                    <h6 id="bid-price"></h6>
                                    <h5 style="opacity: 0.5;">Market Close</h5>
                                    <h6 id="market-close"></h6>
                                    <h5 style="opacity: 0.5;">200 Day Range</h5>
                                    <h6 id="two-hundred-day-range"></h6>
                                    <h5 style="opacity: 0.5;">Market Volume</h5>
                                    <h6 id="market-volume"></h6>                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- @@ -->
                      <!-- ## VOL PRICE GRAPH -->
                      <div class="col-lg-8 d-flex flex-column">
                        <div class="row flex-grow">
                          <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="d-sm-flex justify-content-between align-items-start">
                                  <div>
                                   <h4 class="card-title card-title-dash">Volume/Price Chart</h4>
                                   <h5 class="card-subtitle card-subtitle-dash">Lorem Ipsum is simply dummy text of the printing</h5>
                                  </div>
                                  <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle toggle-dark btn-lg mb-0 me-0" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Timeline </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                      <a class="dropdown-item" onclick="changeVolPriceChartData('1mo','1y')" href="#">1mo - 1y</a>
                                      <a class="dropdown-item" onclick="changeVolPriceChartData('1wk','3mo')" href="#">1wk - 3mo</a>
                                      <a class="dropdown-item" onclick="changeVolPriceChartData('1wk','6mo')" href="#">1wk - 6mo</a>
                                      <a class="dropdown-item" onclick="changeVolPriceChartData('1d','5d')" href="#">1d - 5d</a>
                                    </div>
                                  </div>
                                  <div style="margin-top: 5px;">
                                    <label for="volumeRadio"><input type="radio" checked onclick="changeVolPriceGraph('Volume')"  name="vol-price-radio" id="volumeRadio"> Volume</label>
                                    <br>
                                    <label for="priceRadio"><input type="radio" onclick="changeVolPriceGraph('Price')" name="vol-price-radio" id="priceRadio"> Price</label>
                                  </div>
                                  <div id="performance-line-legend3"></div>
                                </div>
                                <progress class="pure-material-progress-circular" id='progress-bar-chart' ></progress>

                                <div class="chartjs-wrapper mt-5">
                                  <canvas id="performaneLine3"></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 d-flex">
                        <div class="row flex-grow">
                          <div class="col-12 grid-margin">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-lg-12">
                                    <div class="d-flex justify-content-between align-items-center">
                                      <h4 class="card-title card-title-dash">Stock Recommendations</h4>
                                      <div class="add-items d-flex mb-0">
                                        <!-- <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?"> -->
                                      </div>
                                    </div>
                                    <div class="list-wrapper">
                                      <progress class="pure-material-progress-circular" id='progress-recommendation'></progress>
                                      <ul class="todo-list todo-list-rounded" id='recommendation-list'>
        
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-8 d-flex flex-column">
                        <!-- <div class="row flex-grow">
                          <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="d-sm-flex justify-content-between align-items-start">
                                  <div>
                                    <h4 class="card-title card-title-dash">Market Overview</h4>
                                   <p class="card-subtitle card-subtitle-dash">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                                  </div>
                                  <div>
                                    <div class="dropdown">
                                      <button class="btn btn-secondary dropdown-toggle toggle-dark btn-lg mb-0 me-0" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> This month </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                        <h6 class="dropdown-header">Settings</h6>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="d-sm-flex align-items-center mt-1 justify-content-between">
                                  <div class="d-sm-flex align-items-center mt-4 justify-content-between"><h2 class="me-2 fw-bold">$36,2531.00</h2><h4 class="me-2">USD</h4><h4 class="text-success">(+1.37%)</h4></div>
                                  <div class="me-3"><div id="marketing-overview-legend"></div></div>
                                </div>
                                <div class="chartjs-bar-wrapper mt-3">
                                  <canvas id="marketingOverview"></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div> -->
                        <div class="row flex-grow">
                          <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="d-sm-flex justify-content-between align-items-start">
                                  <div>
                                    <h4 class="card-title card-title-dash">Related News</h4>
                                  </div>
                                </div>
                                <div class="table-responsive">
                                  <progress class="pure-material-progress-circular" id='progress-news'></progress>
                                  <table class="table" id = "news-table">
                                    <tbody>
                                     
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="vendors/chart.js/Chart.min.js"></script>
  <script src="vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="vendors/progressbar.js/progressbar.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <!-- <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <script src="js/settings.js"></script> -->
  
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/jquery.cookie.js" type="text/javascript"></script>
  <script src="js/dashboard.js"></script>
  <script src="js/Chart.roundedBarCharts.js"></script>
  <script src="js/script.js"></script>
  <script src="js/chart-operations.js"></script>
  <!-- End custom js for this page-->
</body>
<script src="js/auth.js"> </script>
<script>
  window.onload = async ()=>{
  let urlString = window.location.href;
  let url = new URL(urlString);
  let stock = url.searchParams.get("stock");
  let headers =  getHeader();
  const stockData = await fetch('http://localhost:8080/get-stock/'+stock,{
    method:'GET',
    headers:headers
  }).then(res=>{
    return res.json();
  });
  setData(stockData);
    
  const newsData = await fetch("http://localhost:8080/news/all?language=en&symbols="+stock,{
    method:'GET',
    headers:headers
  }).then(res=>{
    return res.json();
  });
  document.getElementById('progress-news').remove();
  setNews(newsData);
  const recommendationData = await fetch('http://localhost:8080/recommendation/'+stock,{
    method:'GET',
    headers:headers
  }).then(res=>{
    return res.json();
  });
  console.log('recommendation: ',recommendationData);
  document.getElementById('progress-recommendation').remove();
  setRecommendations(recommendationData.finance.result[0].recommendedSymbols);
  const summaryModules = ["financialData","assetProfile"];
  const summaryData = await fetch(`http://localhost:8080/get-stock-summary?ticker=${stock}&region=IN&modules=${summaryModules.toString()}`,{
    method:'GET',
    headers:headers
  }).then(res=>{
    return res.json();
  });
  console.log('summary: ',summaryData);
  setSummaryInfo(summaryData);
}
  
</script>

</html>

